<h1>Welcome to the {{cur_library.lib_name}}</h1>
{% if latest_book_list %}
<ul>
    {% for book in latest_book_list %}
        <li>
            <a href="{%  url 'libdeck:book_page' cur_library.id book.id%}">{{book.book_title}}</a>
        </li>
    {%endfor%}
</ul>
{%else%}
<p>No books available at this library!</p>
{%endif%}

<footer>
    <hr style="margin-top: 4em"></hr>
    <a href="/">Go back to the main page</a>
    <a href="{% url 'libdeck:new_book' cur_library.id %}">Add a new book</a>
</footer>
