<form action="{% url 'libdeck:new_book' library.id %}" method="POST">
{% csrf_token %}
<fieldset>
    <legend><h1>Welcome to the {{ library.lib_name }}</h1></legend>
    <h2 style="margin-bottom: 2em">Please enter new book details below.</h2>
    <p>Enter book name:</p>
    <input type="text" name="book_title" required>
    <p>Enter book author:</p>
    <input type="text" name="book_author" required>
    <p>Enter book published date:</p>
    <input type="date" name="book_pub_date">
    <p>Enter number of pages:</p>
    <input type="number" name="book_pages" required>
</fieldset>
<input type="submit" value="Register the book">
</form>
